.page{
  width: 100%;
  background-color: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  /* height: 1px;  */
  /* idk why, but it does work this way */
  display: flex;
  flex-direction: column;
}
