.popup__title{
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 15px;
    margin: 0 10px 0 0;
    text-align: left;
    color: white;
}
