.elements{
  width: 100%;
  margin: 47px auto 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 886px;
}
@media screen and (max-width: 880px) {
  .elements{
    margin: 36px auto 0;
  }
}

@media screen and (max-width: 900px) {
  .elements{
    max-width: 850px;
  }
}
