.element__title{
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 24px;
  line-height: 29px;
  text-rendering: optimizeLegibility;
  color: black;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: start;
  max-width: 190px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 25px 0 0 20px;
  padding: 0;
  align-self: start;
}
